

body {
    background-color: rgb(196, 140, 196);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Permanent Marker', cursive;
    height: 90vh;
}

.container h1 {
    text-align: center;
}

#quote-box {
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: aliceblue;
    color: rgb(38, 104, 82);
    padding: 35px;
    font-size: 1.5em;
    min-width: 699px;
    max-width: 700px;
    min-height: 400px;
}

#text{
    text-align: center;
}

#author {
    color: rgb(61, 61, 61);
    text-align: right;
}

.bottom-spaceout {
    display: flex;
    justify-content:space-between;
    
}

#tweet-quote {
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgb(59, 134, 134);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items:center;
}
#tweet-quote:hover {
    cursor: pointer ;
}

#new-quote {
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgb(59, 134, 134);
    border: transparent;
}

#new-quote:hover {
    cursor: pointer ;
}

.footer {
    display: flex;
    justify-content: center;
}