

body {
    background-color: rgb(240, 229, 217);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Permanent Marker', cursive;
    height: 90vh;
}

.container h1 {
    text-align: center;
}

#quote-box {
    position: relative;


    background-color: aliceblue;
    color: rgb(38, 104, 82);
}

#author {
    color: red;
    text-align: right;
}

.bottom-spaceout {
    display: flex;
    justify-content:space-between
}

.footer {
    display: flex;
    justify-content: center;
}